pytorch_lightning>=1.3.1,<=1.4.2
scipy
scikit-learn
scikit-image>=0.14
batchgenerators>=0.19.4
pandas>=0.8.1
PyYAML>=5.1, !=5.4.*
nevergrad
nnunet
dicom2nifti
medpy
SimpleITK
tqdm
loguru
hydra-core>=1.1.0
mlflow
GitPython
matplotlib
seaborn